# PokerTracker 4 Database Connection
PT4_HOST=localhost
PT4_PORT=5432
PT4_USER=postgres
PT4_PASSWORD=dbpass
PT4_DATABASE=PT4 DB

# PostgreSQL Installation Path
POSTGRES_BIN="C:\Program Files\PostgreSQL\16\bin"
